body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

i:nth-child(4n+1) {
    background: linear-gradient(transparent, rgba(80, 255, 27, 0.973));
}

i:nth-child(4n+2) {
    background: linear-gradient(transparent, rgb(243, 247, 3));
}

i:nth-child(4n+3) {
    background: linear-gradient(transparent, rgb(255, 140, 8));
}

i:nth-child(4n+4) {
    background: linear-gradient(transparent, rgb(255, 0, 149));
}

@keyframes animate {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(calc(100vh + 200px));
    }
}