*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}

body{
    background-color: #333;
}

.inner{
    margin-top: 20px;
}

.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative
}

h1{
    font-size: 3rem;
}

.header::after{
    content: '';
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 200px;
    background-color: #2ecc71;

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    text-align: center;
    height: 100vh;
}

.skillBox:hover > .skillTitle::after, .skillBox:hover > .skillTitle::before{
    width: 35px;


}

.skillBox:hover .img{
    transform: translateY(-10px);
}

.skillBox{
    display: flex;
    color: #ddd;
    cursor: pointer; 
}

.skillTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}

.skillTitle::after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
    


}

.skillTitle::before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    transition: .5s;
    


}

.img{
    width: 90px;
    height: 90px;
    position:relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.img::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skillTitle h3{
    color: #fff;
    margin-top: 0.5rem;
}

.skill-icon{
    width:50px;
    z-index: 2;
}

p{
    font-size: 1.2rem;
    color: snow;

}

@media screen and (max-width:990px){
    .container{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px ;
    }
} 

@media screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px ;
    }

    .skillBox{
        
        height: 100vh;
        flex-direction: column;
        
    }

    p{
        font-size: 1.7rem;
        margin-top: 50px;
        letter-spacing: 1px;
    }

    .img{
        width: 150px;
        height: 150px;
        position:relative;
        border-radius: 105px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    
    .img::after{
        content: '';
        position:absolute;
        top:0;
        left:0;
        width: 50%;
        height: 150px;
        background: rgba(100, 100, 100, 0.5);
        border-radius: 105px 0 0 105px;
    }
    


        

} 


